@page "/admin/cierre_printable"
@layout BlazorLayout
@attribute [Authorize(Roles = "Admin, Worker")]
@inject ICierreService cierreService
@inject IJSRuntime JS
@inject NavigationManager navi


<div class="col-12" style="text-align: end">
    <button type="button" class="btn btn-outline-primary hideWhenPrint" @onclick="Print">Imprimir</button>
</div>
<div id="app" class="col-6 mx-md-auto">
    <h3>Cierre de Caja</h3>
    <div class="row my-3">
        <div class="col-12">
            <h1>OnlineStore</h1>
            <span style="color: #6f6f6f;">Calle 5 % 14 y 16</span>
            <p>Coliseo</p>
        </div>
    </div>
    <hr />
    <div class="row fact-info mt-3">
        <div class="col-lg-6">
            <h5>N° </h5>
            <h5>Creado</h5>
            <h5>Desde</h5>
            <h5>Hasta</h5>
        </div>
        <div class="col-lg-6">
            <h5 style="color: #6f6f6f; text-align: end">@Item.Id</h5>
            <h5 style="color: #6f6f6f; text-align: end">@String.Format("{0:dd/MM/yyyy}", Item.Created_at)</h5>
            <h5 style="color: #6f6f6f; text-align: end">@String.Format("{0:dd/MM/yyyy}", Item.F_inicio)</h5>
            <h5 style="color: #6f6f6f; text-align: end">@String.Format("{0:dd/MM/yyyy}", Item.F_fin)</h5>
        </div>
    </div>
    <div class="row fact-info my-5">
        <div class="col-lg-12">
            <h4 style="text-align: center">Operaciones</h4>
        </div>
        <div class="col-lg-6">
            <h5>Reparaciones</h5>
            <h5>Ventas</h5>
        </div>
        <div class="col-lg-6">
            <h5 style="color: #6f6f6f; text-align: end">@Item.Qty_reparaciones</h5>
            <h5 style="color: #6f6f6f; text-align: end">@Item.Qty_ventas</h5>
        </div>
    </div>
    <div class="row fact-info my-5">
        <div class="col-lg-12">
            <h4 style="text-align: center">Facturación</h4>
        </div>
        <div class="col-lg-6">
            <h5>Ingreso</h5>
            <h5>Costo</h5>
            <h5>Ganancia Neta</h5>
        </div>
        <div class="col-lg-6">
            <h5 style="color: #6f6f6f; text-align: end">$@Item.Ingreso</h5>
            <h5 style="color: #6f6f6f; text-align: end">$@Item.Costo</h5>
            <h4 style="font-weight: bold; text-align: end">$@Item.Ganancia</h4>
        </div>
    </div>
    <div class="cond row mb-5 pt-5">
        <div class="col-lg-10 mt-3 mb-5">
        </div>
        <div class="col-lg-2" style="position: relative;">
            <div style="position: absolute; bottom: 0; right: 0">
                <h5>Firma</h5>
            </div>
        </div>
    </div>
</div>



@code {

    private int Id { get; set; }
    private Cierre Item { get; set; } = new Cierre();


    protected async override Task OnInitializedAsync()
    {
        await LoadParameters();
    }

    private async Task LoadParameters()
    {
        var uri = navi.ToAbsoluteUri(navi.Uri);
        if (Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var _param))
        {
            Id = int.Parse(_param);
        }
        await LoadData();
    }

    private async Task Print()
    {
        await JS.InvokeVoidAsync("Print");
    }

    async Task LoadData()
    {
        Item = await cierreService.GetById(Id);
    }
}
