@page "/admin/models"
@layout BlazorLayout
@attribute [Authorize(Roles = "Admin")]
@inject IBrandService brandService
@inject IModelService modelService
@inject IJSRuntime JS


<div class="container space-1 mb-5">
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h3 class="text-secondary font-weight-normal mb-0">Modelos</h3>
        <div class="mt-3 ml-5 mb-2" style="flex:auto">
            <span>Filtrar por</span>
            <select class="form-control-mine" @onchange="OnSelectChange">
                <option value="0">Todos</option>
                @foreach (var item in Brand_list)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <div class="mr-3 ml-3 row">
            <div class="mr-5">
                <button @onclick="@Add" type="button" class="btn admin-btn-sm btn-success transition-3d-hover"><span class="oi oi-plus" aria-hidden="true"></span></button>
            </div>
            <SearchSimple search_obj="@search_obj" OnValidSubmit="@Search" />
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-12 w-md-75 w-lg-40 mx-md-auto">
                <div class="table-responsive-sm">

                    @if (Model_list.Count.Equals(0))
                    {
                        <p class="text-danger" style="text-align: center">N/A</p>
                    }
                    else
                    {
                        <table class="table table-light">
                            <thead>
                                <tr style="font-size: small; color: white; background-image: linear-gradient(182deg, rgb(8, 38, 123) 0%, #4f1056 90%);">
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Código</th>
                                    <th>Marca</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="font-size-1" style="font-family: 'Arial Rounded MT'">
                                @foreach (var item in Model_list)
                                {
                                    <tr class="my-transition-3d-hover">
                                        <td class="align-middle"><a style="font-size: small">@item.Id</a></td>
                                        <td class="align-middle"><a style="font-size: small">@item.Name</a></td>
                                        <td class="align-middle"><a style="font-size: small">@item.Code_name</a></td>
                                        <td class="align-middle"><a style="font-size: small">@item.Brand.Name</a></td>
                                        <td class="align-middle"><span style="font-size: small" class="@(item.IsActive ? "text-success" : "text-danger")"> @(item.IsActive ? "Activo" : "Inactivo")</span></td>
                                        <td class="align-middle">
                                            <mark @onclick="@(() => Edit(item))" class="bg-primary" style="cursor:pointer; border-radius:50px 50px 50px 20px; padding-left:5px; color:white"><span class="fa fa-pencil" aria-hidden="true"></span></mark>
                                            <mark @onclick="@(() => Activar_Desactivar(item))" class="@(item.IsActive ? "bg-danger" : "bg-success")" style="cursor:pointer; border-radius:20px 20px 20px 20px; padding-left:5px; color:white"><span class="fa @(item.IsActive ? "fa-close" : "fa-check")" style="@(item.IsActive ? "font-size: 20px" : "")" aria-hidden="true"></span></mark>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <PaginationComponent TotaPagesQuantity="PagParam.TotalPageQuantity" CurrentPage="PagParam.CurrentPage" Radius="3" SelectedPage="SelectedPage"></PaginationComponent>
                <div class="col-lg-12 col-md-4 mt-2">
                    <div class="filter__found" style="text-align: right">
                        <h6><span>@Model_list.Count de @PagParam.itemsTotal</span> encontrados</h6>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<AddModel Item="Model_item" Brand_list="Brand_list_all" DataChanged="DataChanged"></AddModel>
<EditModel Item="Model_item" Brand_list="Brand_list_all" DataChanged="DataChanged"></EditModel>


@code {

    private Model Model_item { get; set; } = new Model();
    private List<Brand> Brand_list { get; set; } = new List<Brand>();
    private List<Brand> Brand_list_all { get; set; } = new List<Brand>();
    private List<Model> Model_list { get; set; } = new List<Model>();
    private SearchFilter search_obj { get; set; } = new SearchFilter();
    private PaginationParameters PagParam { get; set; } = new PaginationParameters() { QuantityPerPage = 7, FieldActualSort = "Created_at" };

    protected async override Task OnInitializedAsync()
    {
        await LoadItems();
    }

    async Task LoadItems(int page = 1)
    {
        Brand_list = await brandService.GetAllNotEmpty();
        var data = await modelService.GetPag(new Pagination() { Page = page, QuantityPerPage = PagParam.QuantityPerPage }, search_obj, PagParam.FieldActualSort, PagParam.OrderActualSort);
        PagParam.TotalPageQuantity = data.CantPorPag;
        Model_list = data.ListaObjetos.ToList();
        PagParam.itemsTotal = data.ItemsTotal;
        PagParam.CurrentPage = page;
    }

    private async Task OnSelectChange(ChangeEventArgs e)
    {
        search_obj.Model_brand_id = int.Parse(e.Value.ToString());
        await LoadItems();
    }

    private async Task SelectedPage(int page)
    {
        PagParam.CurrentPage = page;
        await LoadItems(page);
    }

    private string IndicadorOrden(string campoSorteo)
    {
        if (campoSorteo.Equals(PagParam.FieldActualSort))
        {
            return PagParam.OrderActualSort.Equals("Asc") ? "oi oi-arrow-top" : "oi oi-arrow-bottom";
        }
        return string.Empty;
    }

    private async Task Ordenar(string campoSorteo)
    {
        if (campoSorteo.Equals(PagParam.FieldActualSort))
        {
            PagParam.OrderActualSort = PagParam.OrderActualSort.Equals("Asc") ? "Desc" : "Asc";
        }
        else
        {
            PagParam.FieldActualSort = campoSorteo;
            PagParam.OrderActualSort = "Asc";
        }
        await LoadItems();
    }

    private async Task Search()
    {
        search_obj.Model_brand_id = 0;
        await LoadItems();
    }

    private async Task Edit(Model item)
    {
        Brand_list_all = await brandService.GetAll();
        Model_item = item;
        await JS.InvokeAsync<object>("ShowModal", "taskModal-edit");
    }

    private async Task Add()
    {
        Brand_list_all = await brandService.GetAll();
        Model_item = new Model();
        await JS.InvokeAsync<object>("ShowModal", "taskModal");
    }

    private async Task Activar_Desactivar(Model item)
    {
        if (item.IsActive)
        {
            if (await JS.ConfirmSinResp($"Desactivar", $"Esto desactivará el modelo."))
            {
                item.IsActive = false;
                await modelService.Update(item);
                await LoadItems();
            }
        }
        else
        {
            if (await JS.ConfirmSinResp($"Activar", $"Esto activará el modelo."))
            {
                item.IsActive = true;
                await modelService.Update(item);
                await LoadItems();
            }
        }
    }

    private async void DataChanged()
    {
        await LoadItems();
        StateHasChanged();
    }

}