@inject IJSRuntime JS
@inject IUserService userService
@inject IToastService toastService
@inject IAddressProvinceService provinceService
@using System.Text.RegularExpressions


<div class="modal" tabindex="-1" role="dialog" id="taskModal">
    <div class="modal-dialog" style="max-width: 1000px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Agregar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm class="col-lg-10 col-md-10 mx-md-auto" Model="Item" OnValidSubmit="Submit">
                    <!-- Errors here -->
                    <DataAnnotationsValidator />
                    <!-- End Errors -->
                    <!-- Form Group -->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Rol<span>*</span></label>
                                <InputSelect Class="form-control" @bind-Value="@userRol">
                                    <option value="Delivery">Repartidor</option>
                                    <option value="User">Usuario</option>
                                    <option value="Admin">Administrador</option>
                                </InputSelect>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Usuario<span>*</span></label>
                                <InputText Class="form-control" @bind-Value="@Item.UserName" />
                                <ValidationMessage For="@(() => Item.UserName)" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Correo<span>*</span></label>
                                <InputText Class="form-control" @bind-Value="@Item.Email" />
                                <ValidationMessage For="@(() => Item.Email)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Nombre<span>*</span></label>
                                <InputText Class="form-control" @bind-Value="@Item.Name" />
                                <ValidationMessage For="@(() => Item.Name)" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Apellidos<span>*</span></label>
                                <InputText Class="form-control" @bind-Value="@Item.LastName" />
                                <ValidationMessage For="@(() => Item.LastName)" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Carnet<span>*</span></label>
                                <InputText Class="form-control" @bind-Value="@Item.CI" />
                                <ValidationMessage For="@(() => Item.CI)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Contraseña<span>*</span></label>
                                <InputPassword Class="form-control" @bind-Value="@Item.Password" />
                                <ValidationMessage For="@(() => Item.Password)" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Confirmar contraseña<span>*</span></label>
                                <InputPassword Class="form-control" @bind-Value="@Item.ConfirmPassword" />
                                <ValidationMessage For="@(() => Item.ConfirmPassword)" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Teléfono<span>*</span></label>
                                <InputText Class="form-control" @bind-Value="@Item.PhoneNumber" />
                                <ValidationMessage For="@(() => Item.PhoneNumber)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Ciudad<span>*</span></label>
                                <InputText Class="form-control" @bind-Value="@Item.Address.City" />
                                <ValidationMessage For="@(() => Item.Address.City)" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Provincia<span>*</span></label><br />
                                <select class="custom-select-primary" value="@Province" @onchange="OnProvinceChange" required>
                                    <option value="all" disabled>Seleccionar</option>
                                    @foreach (var item in Provinces)
                                    {
                                        <option value="@item.Id">
                                            @item.Name
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Municipio <span>*</span></label><br />
                                <select class="custom-select-primary" value="@State" @onchange="OnStateChange" required>
                                    <option value="all" disabled>Seleccionar</option>
                                    @foreach (var item in StatesByProvince_list)
                                    {
                                        <option value="@item.Id">
                                            @item.Name
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="checkout__input">
                                <label>Dirección<span>*</span></label>
                                <InputText Class="form-control" @bind-Value="@Item.Address.Address_line" />
                                <ValidationMessage For="@(() => Item.Address.Address_line)" />
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout__input">
                                <label>Código Postal<span>*</span></label>
                                <InputText Class="form-control" @bind-Value="@Item.Address.Postal_code" />
                                <ValidationMessage For="@(() => Item.Address.Postal_code)" />
                            </div>
                        </div>
                    </div>
                    <!-- Button -->
                    <hr />
                    <div class="row align-items-center mb-3 mt-3">
                        <div class="col-lg-12 col-sm-6 text-right">
                            <button type="button" class="secondary-btn transition-3d-hover" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="primary-btn transition-3d-hover">Crear</button>
                        </div>
                    </div>
                    <!-- End Button -->
                </EditForm>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public UserDto Item { get; set; }
    [Parameter]
    public Action DataChanged { get; set; }

    private List<Address_Province> Provinces = new List<Address_Province>();
    private List<Address_State> StatesByProvince_list = new List<Address_State>();
    private string userRol { get; set; } = "Delivery";
    private string Province
    {
        get
        {
            return Item.Address.Province_id.ToString();
        }
        set
        {
            Item.Address.Province_id = int.Parse(value);
        }
    }
    private string State
    {
        get
        {
            return Item.Address.State_id.ToString();
        }
        set
        {
            Item.Address.State_id = int.Parse(value);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Provinces = await provinceService.GetAll();
        Item.Address.Province_id = 1;
        await LoadData();
    }

    public async Task LoadData()
    {
        StatesByProvince_list = await provinceService.GetStatesByProvince(Item.Address.Province_id);
        Item.Address.State_id = StatesByProvince_list[0].Id;
    }

    public async Task OnStateChange(ChangeEventArgs e)
    {
        Item.Address.State_id = int.Parse(e.Value.ToString());
    }

    public async Task OnProvinceChange(ChangeEventArgs e)
    {
        Item.Address.Province_id = int.Parse(e.Value.ToString());
        await LoadData();
    }

    private async Task CloseTaskModal()
    {
        await JS.InvokeAsync<object>("CloseModal", "taskModal");
    }

    private async Task Submit()
    {
        if (!AddressFullfill())
        {
            toastService.ShowWarning("Complete su dirección", "Advertencia");
            return;
        }
        if (!ValidateStrings())
            return;
        var resp = await userService.AddAppUser(Item, userRol);
        if (resp)
        {
            await CloseTaskModal();
            DataChanged?.Invoke();
        }
    }

    private bool ValidateStrings()
    {
        string patronString = @"^[A-Za-zÀ-ÖØ-öø-ÿ]+$|^[A-Za-zÀ-ÖØ-öø-ÿ]+\s+[A-Za-zÀ-ÖØ-öø-ÿ]+$|^[A-Za-zÀ-ÖØ-öø-ÿ]+\s+[A-Za-zÀ-ÖØ-öø-ÿ]+\s+[A-Za-zÀ-ÖØ-öø-ÿ]+$|^[A-Za-zÀ-ÖØ-öø-ÿ]+\s+[A-Za-zÀ-ÖØ-öø-ÿ]+\s+[A-Za-zÀ-ÖØ-öø-ÿ]+\s+[A-Za-zÀ-ÖØ-öø-ÿ]+$";
        string patronNumber = @"\D";
        Regex regString = new Regex(patronString);
        Regex regNumber = new Regex(patronNumber);
        bool name = regString.IsMatch(Item.Name);
        bool lastname = regString.IsMatch(Item.LastName);
        bool ci = regNumber.IsMatch(Item.CI);
        bool city = regString.IsMatch(Item.Address.City);
        if (!name) { toastService.ShowError("Nombre no debe contener números"); return false; }
        else if (!lastname) { toastService.ShowError("Debe escribir sus dos apellidos y no debe contener números"); return false; }
        else if (ci) { toastService.ShowError("Carnet no debe contener letras"); return false; }
        else if (!city) { toastService.ShowError("Ciudad no debe contener números"); return false; }
        return true;
    }

    private bool AddressFullfill()
    {
        if (string.IsNullOrWhiteSpace(Item.Address.Address_line) || string.IsNullOrEmpty(Item.Address.Address_line) ||
            string.IsNullOrWhiteSpace(Item.Address.City) || string.IsNullOrEmpty(Item.Address.City) ||
            string.IsNullOrWhiteSpace(Item.Address.Postal_code) || string.IsNullOrEmpty(Item.Address.Postal_code))
            return false;
        return true;
    }

}
