@page "/signup"
@inject IUserService userService
@inject IToastService toastService
@inject IAddressProvinceService provinceService
@inject NavigationManager navi
@using System.Text.RegularExpressions
@attribute [AllowAnonymous]

<div class="content px-4">
    <div class="container space-top-2 space-top-md-3">
        <div class="container row px-5">
            <EditForm class="col-lg-12 col-md-10 mx-md-auto" Model="userInfo" OnValidSubmit="CreateUser">
                <!-- Title -->
                <div class="mb-7">
                    <h2 class="h3 text-primary font-weight-normal mb-3 mt-3">REGISTRO</h2>
                </div>
                <!-- End Title -->
                <!-- Errors here -->
                <DataAnnotationsValidator />
                <!-- End Errors -->
                <!-- Form Group -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Usuario<span>*</span></label>
                            <InputText Class="form-control" @bind-Value="@userInfo.UserName" />
                            <ValidationMessage For="@(() => userInfo.UserName)" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Correo<span>*</span></label>
                            <InputText Class="form-control" @bind-Value="@userInfo.Email" />
                            <ValidationMessage For="@(() => userInfo.Email)" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Carnet<span>*</span></label>
                            <InputText Class="form-control" @bind-Value="@userInfo.CI" />
                            <ValidationMessage For="@(() => userInfo.CI)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Nombre<span>*</span></label>
                            <InputText Class="form-control" @bind-Value="@userInfo.Name" />
                            <ValidationMessage For="@(() => userInfo.Name)" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Apellidos<span>*</span></label>
                            <InputText Class="form-control" @bind-Value="@userInfo.LastName" />
                            <ValidationMessage For="@(() => userInfo.LastName)" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Teléfono<span>*</span></label>
                            <InputText Class="form-control" @bind-Value="@userInfo.PhoneNumber" />
                            <ValidationMessage For="@(() => userInfo.PhoneNumber)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Ciudad<span>*</span></label>
                            <InputText Class="form-control" @bind-Value="@userInfo.Address.City" />
                            <ValidationMessage For="@(() => userInfo.Address.City)" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Provincia<span>*</span></label><br />
                            <select class="custom-select-primary" value="@Province" @onchange="OnProvinceChange" required>
                                <option value="all" disabled>Seleccionar</option>
                                @foreach (var item in Provinces)
                                {
                                    <option value="@item.Id">
                                        @item.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Municipio<span>*</span></label><br />
                            <select class="custom-select-primary" value="@State" @onchange="OnStateChange" required>
                                <option value="all" disabled>Seleccionar</option>
                                @foreach (var item in StatesByProvince_list)
                                {
                                    <option value="@item.Id">
                                        @item.Name
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="checkout__input">
                            <label>Dirección<span>*</span></label>
                            <InputText Class="form-control" @bind-Value="@userInfo.Address.Address_line" />
                            <ValidationMessage For="@(() => userInfo.Address.Address_line)" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Código Postal<span>*</span></label>
                            <InputText Class="form-control" @bind-Value="@userInfo.Address.Postal_code" />
                            <ValidationMessage For="@(() => userInfo.Address.Postal_code)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Contraseña</label>
                            <InputPassword Class="form-control" @bind-Value="@userInfo.Password" />
                            <ValidationMessage For="@(() => userInfo.Password)" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__input">
                            <label>Confirmar Contraseña</label>
                            <InputPassword Class="form-control" @bind-Value="@userInfo.ConfirmPassword" />
                            <ValidationMessage For="@(() => userInfo.ConfirmPassword)" />
                        </div>
                    </div>
                </div>
                <!-- Checkbox -->
                <div class="jcheckout__input mb-5">
                    <div class="custom-control custom-checkbox d-flex align-items-center text-muted">

                        <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="agree" required data-msg="Please accept our Terms and Conditions." data-error-class="u-has-error" data-success-class="u-has-success">
                        <label class="custom-control-label" for="termsCheckbox">
                            <small>
                                Estoy de acuerdo con los
                                <a class="link-muted" href="/legal">Términos y Condiciones</a>
                            </small>
                        </label>
                    </div>
                </div>
                <!-- End Checkbox -->
                <!-- Button -->
                <div class="row align-items-center mb-5">
                    <div class="col-lg-5 col-sm-6">
                        <span class="small text-muted">¿Ya tienes una cuenta?</span>
                        <a class="small" href="/login">Acceda</a>
                    </div>
                    <div class="col-lg-7 col-sm-6 text-right">
                        <button type="submit" class="primary-btn transition-3d-hover" style="border:0">Crear usuario</button>
                    </div>
                </div>
                <!-- End Button -->
            </EditForm>

        </div>
    </div>
</div>



@code {

    private UserDto userInfo = new UserDto();
    private List<Address_Province> Provinces = new List<Address_Province>();
    private List<Address_State> StatesByProvince_list = new List<Address_State>();
    private string Province
    {
        get
        {
            return userInfo.Address.Province_id.ToString();
        }
        set
        {
            userInfo.Address.Province_id = int.Parse(value);
        }
    }
    private string State
    {
        get
        {
            return userInfo.Address.State_id.ToString();
        }
        set
        {
            userInfo.Address.State_id = int.Parse(value);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Provinces = await provinceService.GetAll();
        userInfo.Address.Province_id = 1;
        await LoadData();
    }

    public async Task LoadData()
    {
        StatesByProvince_list = await provinceService.GetStatesByProvince(userInfo.Address.Province_id);
        userInfo.Address.State_id = StatesByProvince_list[0].Id;
    }

    public async Task OnStateChange(ChangeEventArgs e)
    {
        userInfo.Address.State_id = int.Parse(e.Value.ToString());
    }

    public async Task OnProvinceChange(ChangeEventArgs e)
    {
        userInfo.Address.Province_id = int.Parse(e.Value.ToString());
        await LoadData();
    }

    private async Task CreateUser()
    {
        if (!AddressFullfill())
        {
            toastService.ShowWarning("Complete su dirección", "Advertencia");
            return;
        }
        if (!ValidateStrings())
            return;
        var res = await userService.AddNormalUser(userInfo);
        if (res)
            navi.NavigateTo("/login");
    }

    private bool ValidateStrings()
    {
        string patronString = @"[^A-Za-z]";
        string patronLastName = @"[A-Za-zÀ-ÖØ-öø-ÿ]+\s[A-Za-zÀ-ÖØ-öø-ÿ]";
        string patronNumber = @"\D";
        Regex regString = new Regex(patronString);
        Regex regLastName = new Regex(patronLastName);
        Regex regNumber = new Regex(patronNumber);
        bool name = regString.IsMatch(userInfo.Name);
        bool lastname = regLastName.IsMatch(userInfo.LastName);
        bool ci = regNumber.IsMatch(userInfo.CI);
        bool city = regString.IsMatch(userInfo.Address.City);
        if (name) { toastService.ShowError("Nombre no debe contener números"); return false; }
        else if (!lastname) { toastService.ShowError("Debe escribir sus dos apellidos y no debe contener números"); return false; }
        else if (ci) { toastService.ShowError("Carnet no debe contener letras"); return false; }
        else if (city) { toastService.ShowError("Ciudad no debe contener números"); return false; }
        return true;
    }

    private bool AddressFullfill()
    {
        if (string.IsNullOrWhiteSpace(userInfo.Address.Address_line) || string.IsNullOrEmpty(userInfo.Address.Address_line) ||
            string.IsNullOrWhiteSpace(userInfo.Address.City) || string.IsNullOrEmpty(userInfo.Address.City) ||
            string.IsNullOrWhiteSpace(userInfo.Address.Postal_code) || string.IsNullOrEmpty(userInfo.Address.Postal_code))
            return false;
        return true;
    }

}

