@page "/shop-grid"
@inject IProductService productService
@inject ICategoryService categoryService
@inject ICartService cartService
@inject NavigationManager navi
@attribute [AllowAnonymous]


<!-- Product Section Begin -->
<section class="product spad" style="padding-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar" style="background-image: none">
                    <div class="sidebar__item">
                        <h4>Categorías</h4>
                        <ul>
                            <li class="@(navi.Uri.Length == navi.BaseUri.Length+9 ? "ul-active" : "")"><a href="javascript:;" @onclick="@(() => navi.NavigateTo("shop-grid", true))">Todas</a></li>
                            @foreach (var item in Categories)
                            {
                                <li class="@(navi.Uri.Contains(item.Name) ? "ul-active" : "")"><a href="javascript:;" @onclick="@(() => navi.NavigateTo("shop-grid/?category="+@item.Name, true))">@item.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Precio</h4>
                        <div class="price-range-wrap">
                            <EditForm Model="Search_filter.Price_range" OnValidSubmit="ApplyPriceRange">
                                <div class="range-slider">
                                    <div class="price-input">
                                        <span class="mr-2">Min. $</span>
                                        <InputNumber id="minamount" @bind-Value="@Search_filter.Price_range.Min" />
                                        <br />
                                        <span class="mr-2">Max $</span>
                                        <InputNumber id="maxamount" @bind-Value="@Search_filter.Price_range.Max" />
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-outline-success w-75 mt-3">Aplicar</button>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-7 col-md-5 row">
                            <div class="filter__sort mr-4">
                                <span>Filtrar por</span>
                                <select class="form-control-mine" @onchange="OnFilterChange">
                                    <option value="all">Todos</option>
                                    <option value="new">Nuevo</option>
                                    <option value="repaired">Reparado</option>
                                </select>
                            </div>
                            <div class="filter__sort">
                                <span>Ordenar por</span>
                                <select class="form-control-mine" @onchange="OnOrderChange">
                                    <option value="date_down">Fecha Desc</option>
                                    <option value="date_up">Fecha Asc</option>
                                    <option value="price_up">Precio Asc</option>
                                    <option value="price_down">Precio Desc</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-4">
                            <div class="filter__found" style="text-align: right">
                                <h6><span>@Products.Count de @PagParam.itemsTotal</span> Productos encontrados</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @if (Products == null)
                    {<p class="text-danger mx-md-auto" style="font-family: 'Arial Rounded MT'; text-align: center">Cargando</p>}
                    else if (Products.Count == 0)
                    {
                        <p class="text-danger mx-md-auto" style="font-family: 'Arial Rounded MT'; text-align: center">N/A</p>
                    }
                    else
                    {
                        @foreach (var item in Products)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <a href="/shop-details?id=@item.Id">
                                        <div class="product__item__pic set-bg" style="background-image: url(@item.Image_url);">
                                            <div class="triangle">@(item.Is_new?"N":"R")</div>
                                            <ul class="product__item__pic__hover">
                                                @if (item.Qty <= 0)
                                                {
                                                    <li class=" w-100">
                                                        <span class="warning-bg-label w-100" style="font-weight: 900">AGOTADO</span>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        <a href="javascript:;" @onclick="@(()=>AddToCart(item, 1))"><i class="fa fa-shopping-cart"></i></a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </a>
                                    <div class="product__item__text">
                                        <h6><a href="/shop-details?id=@item.Id">@item.Name</a></h6>
                                        @if (item.Original_price > item.Price)
                                        {
                                            <div class="product__discount__item__text" style="padding-top: 0">
                                                <div class="product__item__price">
                                                    $@item.Price
                                                    <span>$@item.Original_price</span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <h5>$@item.Price</h5>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="product__pagination">
                    <PaginationComponent TotaPagesQuantity="PagParam.TotalPageQuantity" CurrentPage="PagParam.CurrentPage" Radius="3" SelectedPage="SelectedPage"></PaginationComponent>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->



@code{

    private SearchFilter Search_filter { get; set; } = new SearchFilter();

    public List<Product> Products { get; set; } = new List<Product>();
    public List<Category> Categories { get; set; } = new List<Category>();
    private PaginationParameters PagParam { get; set; } = new PaginationParameters() { QuantityPerPage = 21, FieldActualSort = "Created_at" };

    protected override async Task OnInitializedAsync()
    {
        await LoadParameters();
    }

    private async Task LoadParameters()
    {
        var uri = navi.ToAbsoluteUri(navi.Uri);
        if (Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("category", out var _cat))
        {
            Search_filter.Category = _cat;
        }
        if (Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("brand", out var _brand))
        {
            Search_filter.Brand = _brand;
        }
        if (Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("search_text", out var _txt))
        {
            Search_filter.Search_text = _txt;
        }
        await LoadData();
    }

    private async Task LoadData(int page = 1)
    {
        var data = await productService.GetPag(new Pagination() { Page = page, QuantityPerPage = PagParam.QuantityPerPage }, Search_filter, PagParam.FieldActualSort, PagParam.OrderActualSort);
        PagParam.TotalPageQuantity = data.CantPorPag;
        PagParam.itemsTotal = data.ItemsTotal;
        Products = data.ListaObjetos.ToList();
        Categories = await categoryService.GetAll();
    }

    private async Task SelectedPage(int page)
    {
        PagParam.CurrentPage = page;
        await LoadData(page);
    }

    public async Task OnFilterChange(ChangeEventArgs e)
    {
        Search_filter.Condition = e.Value.ToString();
        await LoadData();
    }

    public async Task OnOrderChange(ChangeEventArgs e)
    {
        var value = e.Value.ToString();
        if (value.Equals(PagParam.FieldActualSort))
            return;
        if (value.Equals("date_up"))
        {
            PagParam.FieldActualSort = "Created_at";
            PagParam.OrderActualSort = "Asc";
        }
        else if (value.Equals("date_down"))
        {
            PagParam.FieldActualSort = "Created_at";
            PagParam.OrderActualSort = "Desc";
        }
        else if (value.Equals("price_up"))
        {
            PagParam.FieldActualSort = "Price";
            PagParam.OrderActualSort = "Asc";
        }
        else if (value.Equals("price_down"))
        {
            PagParam.FieldActualSort = "Price";
            PagParam.OrderActualSort = "Desc";
        }
        await LoadData();
    }

    public async Task ApplyPriceRange()
    {
        if (Search_filter.Price_range.Max < 2)
            return;
        Search_filter.Price_range.Is_active = true;
        await LoadData();
    }

    private async Task AddToCart(Product item, int qty)
    {
        if (qty < 1)
            return;
        await cartService.Add(item, qty);
    }

}