@page "/shopping-cart"
@inject NavigationManager navi
@inject ICartService cartService


<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Productos</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Cart != null && Cart.Items.Count > 0)
                            {
                                @foreach (var item in Items)
                                {
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img width="100" height="100" src="@item.Image_url" alt="">
                                            <h5>@item.Product_name</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            $@item.Price
                                        </td>
                                        <td class="shoping__cart__quantity" style="font-size: 18px; color: #1c1c1c; font-weight: 700;">
                                            @item.Qty
                                        </td>
                                        <td class="shoping__cart__total">
                                            $@(item.Qty * item.Price)
                                        </td>
                                        <td class="shoping__cart__item__close transition-3d-hover">
                                            <span @onclick="@(()=>Remove(item.Product_id))" class="icon_close" style="color: red"></span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td>
                                        <span class="danger-label">VACÍO</span>
                                    </td>
                                    <td></td><td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Total del Carrito</h5>
                    <ul>
                        <li>Total a Pagar <span>$@Total_amount</span></li>
                    </ul>
                    <a href="@(Cart != null && Cart.Items.Count > 0 ? "/checkout" : "javascript:;")" class="primary-btn">PROCEDER A PAGAR</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->


@code{

    public List<CartItem> Items { get; set; } = new List<CartItem>();
    public Cart Cart { get; set; }
    public decimal Total_amount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        Cart = await cartService.Get();
        if (Cart != null)
            Items = (await cartService.Get()).Items;
        Total_amount = await cartService.GetTotalAmount();
    }

    private async Task Remove(int id)
    {
        await cartService.RemoveProduct(id);
        await LoadData();
    }
}