@inject NavigationManager navi
@inject IJSRuntime JS


<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a href="javascript:;" @onclick="@(()=>navi.NavigateTo("", true))"><img src="img/logo.png" alt=""></a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li class="@(navi.Uri.Length == navi.BaseUri.Length ? "active" : "")"><a href="javascript:;" @onclick="@(()=>navi.NavigateTo("", true))">Inicio</a></li>
                    <li class="@(navi.Uri.Contains("shop-grid") ? "active" : "")"><a href="javascript:;" @onclick="@(()=>navi.NavigateTo("shop-grid", true))">Tienda</a></li>
                    <li class="@(navi.Uri.Contains("contact") ? "active" : "")"><a href="javascript:;" @onclick="@(()=>navi.NavigateTo("contact", true))">Contacto</a></li>
                    <li class="@(navi.Uri.Contains("tracker") ? "active" : "")"><a href="javascript:;" @onclick="@(()=>navi.NavigateTo("tracker", true))">Pedidos</a></li>
                    <AuthorizeView Roles="Admin, Delivery">
                        <li><a href="javascript:;" @onclick="@(()=>navi.NavigateTo("admin", true))">Admin</a></li>
                    </AuthorizeView>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3">
            <div class="header__cart">
                <CartDisplay />
            </div>
        </div>
    </div>
    <div class="humberger__open" @onclick="MobileMenuOpen">
        <i class="fa fa-bars"></i>
    </div>
</div>

@code{

    private async Task MobileMenuOpen()
    {
        await JS.InvokeVoidAsync("humberger__open");
    }

}